iphone5MinWidth = 320px
iphone5MaxWidth = 568px

mqiPhone5 = 'only screen and (min-width: ' + iphone5MinWidth + ') and (max-width: ' + iphone5MaxWidth + ')'
mqiPhone5Less = 'only screen and (max-width: ' + iphone5MinWidth + ')'

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body.right-nav .topcoat-navigation-bar, body.right-nav .content {
    right:250px;
}

ul {
  list-style: none;
}

.clear {
  clear:both;
}

// -- icomatic ---
.icomatic {
  text-transform:none;
}

.icomatic-lg {
  font-size:40px;
}

// --- item container ---
.item-container {
  padding: 1rem 2rem;
}

.item-container-xs {
  padding: .5rem 1rem;
}

.item-container-lg {
  padding: 2rem 4rem;
}

// --- vertical alignment ---
.vertical-middle {
  vertical-align:middle;
}

// -----------------------------
// page
// -----------------------------
.page {
  position:relative;
  top:69px;
  float: left;
  width: 100%;
  height:auto;
}

.content-container {
  position:absolute;
  top:44px;
  background: inherit;
  left:0px;
  // padding-top:1rem;
  // padding-left:1rem;
  width:100%;
  height:auto;
  transition: left 0.2s ease-out;
  -webkit-transition: left 0.2s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
}

// -----------------------------
// top nav bar
// -----------------------------
.topcoat-navigation-bar {
  position:fixed;
  width:100%;
  z-index:1000;
  transition: right 0.2s ease-out;
  -webkit-transition: right 0.2s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.topcoat-navigation-bar__item > a:hover {
  cursor:pointer;
}

.off-screen-nav-button ~ span {
  line-height: 54px !important;
  line-height: 69px !important;
}

.user-icon {
  font-size: 40px;
  line-height: 54px !important;
  line-height: 69px !important;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.topcoat-search-input, .topcoat-search-input--large {
  line-height: 3rem !important;
}

.nav-search-text-spacing{
  padding-left: 1rem
}

// -----------------------------
// off screen nav bar
// -----------------------------
.off-screen-nav-header {
  line-height: 54px !important;
  line-height: 69px !important;
}

// -----------------------------
// member item
// -----------------------------
.item-container-lg > .image img {
  max-width:400px;
  width:100%;
  height:auto;
}

// @media mqiPhone5
//   .item-container-lg > .image img {
//     max-width:100%;
//     height:auto;
//   }

// @media mqiPhone5Less
//   .item-container-lg > .image img {
//     max-width:100px;
//     height:auto;
//   }